.ff0{font-family:serif;}
.ff1{font-family:serif;font-weight:bold;}
.ff2{font-family:serif;}
.ff3{font-family:serif;font-style:italic;}
.ff4{font-family:serif;font-style:italic;}
.ff5{font-family:serif;font-weight:bold;font-style:italic;}
.ff6{font-family:serif;font-weight:bold;}
.ff7{font-family:serif;}
.ff8{font-family:serif;}
.ff9{font-family:serif;}
.ff10{font-family:serif;font-style:italic;}
.ff11{font-family:serif;}
.ff12{font-family:serif;}
.ff13{font-family:serif;}
.ff14{font-family:serif;}
.ff15{font-family:serif;}
.txt {white-space:nowrap;}