:root{font-family:"Arial";}
.ff0{}
.ff1{font-weight:bold;}
.ff2{}
.ff3{font-style:italic;}
.ff4{font-style:italic;}
.ff5{font-weight:bold;font-style:italic;}
.ff6{font-weight:bold;}
.ff7{}
.ff8{}
.ff9{}
.ff10{font-style:italic;}
.ff11{}
.ff12{}
.ff13{}
.ff14{}
.ff15{}
.txt {white-space:nowrap;}
a:link, a:visited {color:rgb(0,0,255); text-decoration:none;aria-hidden:true;text-align:center;}
.left{position:absolute;z-index:1;margin:0 0 0 216px;font-size:36px;}
.index{position:absolute;z-index:1;margin:0 0 0 432px;font-size:36px;}
.right{position:absolute;z-index:1;margin:0 0 0 648px;font-size:36px;}
@media print {
.left{visibility:hidden;}
.right{visibility:hidden;}
.index{visibility:hidden;}}

